In [1]:
# Load Dependencies

# Data Organization & Collection
import pandas as pd
import requests
import json

# Data Visualization & Analysis
import matplotlib.pyplot as plt
import numpy as np
from scipy.stats import linregress
import gmaps

# General Navigation
import time
import os
import sys



# Import API keys if needed
# sys.path.append(r"C:\Users\nlund\Documents\GitHub\untracked_files")
# from api_keys_NRL import weather_api_key

In [26]:
# Load data Case and Death Counts by time
    # United_States_COVID-19_Cases_and_Deaths_by_State_over_Time.csv'
    # state_code.csv

c_d_withstate_df_path = r"..\source_data\new_dataframes\c_d_withstate_df.csv"
c_d_withstate_df = pd.read_csv(c_d_withstate_df_path)

# print(c_d_withstate_df.columns.tolist())

""" 
Variables in this DataFrame

'Unnamed: 0', == Index field
'submission_date', === Date the data is reported
'state', == State Acronymn
'tot_cases', ==  Cumulative case count
'conf_cases', == Cumulative Confirmed case count
'prob_cases', == Cumulative Suspected case count
'new_case',  == New cases since the previously reported information
'pnew_case',  == ???
'tot_death',  ==  Cumulative death count
'conf_death',  == Cumulative Confirmed death count
'prob_death',  == Cumulative Suspected death count
'new_death',  == New deaths since the previously reported information
'pnew_death',  == ???
'created_at',  == Reported Date and Time
'consent_cases',  == ???
'consent_deaths',  == ???
'State/District',  == State full name
'Abbreviation',  == State Abbreviation
'Postal Code',  == State Acronym
'Month',  == Report Month
'Year'] == Report Year 
"""

c_d_withstate_df.head()

,Unnamed: 0,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,...,new_death,pnew_death,created_at,consent_cases,consent_deaths,State/District,Abbreviation,Postal Code,Month,Year
0,0,1/22/2020,AK,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,3/26/2020 16:22,0,0,Alaska,Alaska,AK,1,2020
1,1,1/23/2020,AK,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,3/26/2020 16:22,0,0,Alaska,Alaska,AK,1,2020
2,2,1/24/2020,AK,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,3/26/2020 16:22,0,0,Alaska,Alaska,AK,1,2020
3,3,1/25/2020,AK,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,3/26/2020 16:22,0,0,Alaska,Alaska,AK,1,2020
4,4,1/26/2020,AK,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,3/26/2020 16:22,0,0,Alaska,Alaska,AK,1,2020

In [27]:
# Load Combined Vaccination Allocation Data that incorporated the following files
    # COVID-19_Vaccine_Distribution_Allocations_by_Jurisdiction_-_Pfizer.csv
    # COVID-19_Vaccine_Distribution_Allocations_by_Jurisdiction_-_Moderna.csv
    # COVID-19_Vaccine_Distribution_Allocations_by_Jurisdiction_-_Janssen.csv
    # United_States_COVID-19_Cases_and_Deaths_by_State_over_Time.csv
    # state_code.csv

Combined_Vaccine_df_path = r"..\source_data\new_dataframes\Combined_Vaccine_df.csv"
Combined_Vaccine_df = pd.read_csv(Combined_Vaccine_df_path)

# print(Combined_Vaccine_df.columns.tolist())

""" 
Variables in this DataFrame

['Unnamed: 0', == Index 
'Jurisdiction',  == State
'Week of Allocations',  == Week of reported allocation data
'1st Dose Allocations_x',  == Pfizer Dose 1 Allocation
'2nd Dose Allocations_x',  == Pfizer Dose 1 Allocation
'1st Dose Allocations_y',  == Moderna Dose 1 Allocation
'2nd Dose Allocations_y',  == Moderna Dose 1 Allocation
'1st Dose Allocations'] == J&J Allocation

"""

Combined_Vaccine_df.head()

,Unnamed: 0,Jurisdiction,Week of Allocations,1st Dose Allocations_x,2nd Dose Allocations_x,1st Dose Allocations_y,2nd Dose Allocations_y,1st Dose Allocations
0,0,Connecticut,04/19/2021,54990,54990,40400.0,40400.0,NaN
1,1,Maine,04/19/2021,21060,21060,15400.0,15400.0,NaN
2,2,Massachusetts,04/19/2021,105300,105300,77700.0,77700.0,NaN
3,3,New Hampshire,04/19/2021,21060,21060,15500.0,15500.0,NaN
4,4,Rhode Island,04/19/2021,16380,16380,12100.0,12100.0,NaN

In [28]:
# Load merged Combined Vaccination Allocation Data with Case and Death Counts by time
    # Combined_Vaccine_df
    # c_d_withstate_df

merge_CD_pfe_mrna_jnj_path = r"..\source_data\new_dataframes\merge_CD_pfe_mrna_jnj.csv"
merge_CD_pfe_mrna_jnj_df = pd.read_csv(merge_CD_pfe_mrna_jnj_path)

merge_CD_pfe_mrna_jnj_df.head()

,Unnamed: 0,Year,Month,Jurisdiction,PFE Dose-1,PFE Dose-2,MRNA Dose-1,MRNA Dose-2,JNJ Dose-1,index,...,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death
0,0,2020,12,Alabama,108225,108225,113400.0,113400.0,0.0,641,...,9513716.0,7781720.0,1731996.0,111702.0,29144.0,131827.0,116236.0,15591.0,1249.0,276.0
1,1,2020,12,Alaska,35100,35100,26800.0,26800.0,0.0,642,...,1241538.0,0.0,0.0,14138.0,0.0,5331.0,0.0,0.0,85.0,0.0
2,2,2020,12,American Samoa,5850,0,2400.0,0.0,0.0,643,...,93.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,2020,12,Arizona,154050,154050,160700.0,160700.0,0.0,644,...,13267357.0,12733646.0,533711.0,193390.0,15013.0,237324.0,217466.0,19858.0,2225.0,371.0
4,4,2020,12,Arkansas,67275,67275,68800.0,68800.0,0.0,645,...,5960217.0,0.0,0.0,67779.0,19051.0,95239.0,0.0,0.0,1174.0,381.0

In [29]:
# Load data State Population from Census reports
    # Population.csv

Population_path = r"..\source_data\new_dataframes\Population.csv"
population_df = pd.read_csv(Population_path)

print(population_df.columns.tolist())

""" 
Variables in this DataFrame

['Unnamed: 0', 
'Name', 
'Population', 
'Median Age', 
'Household Income', 
'Per Capita Income', 
'Poverty Count', 
'Poverty Rate', 
'Unemployment Count', 
'Unemployment Rate']

"""

population_df.head()

['Unnamed: 0', 'Name', 'Population', 'Median Age', 'Household Income', 'Per Capita Income', 'Poverty Count', 'Poverty Rate', 'Unemployment Count', 'Unemployment Rate']

,Unnamed: 0,Name,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Unemployment Count,Unemployment Rate
0,0,Alabama,4876250.0,39.0,50536.0,27928.0,795989.0,16.323794,132095.0,2.708946
1,1,Alaska,737068.0,34.3,77640.0,36787.0,76933.0,10.437707,26808.0,3.637114
2,2,Arizona,7050299.0,37.7,58945.0,30694.0,1043764.0,14.804535,195905.0,2.778676
3,3,Arkansas,2999370.0,38.1,47597.0,26577.0,496260.0,16.545475,70481.0,2.349860
4,4,California,39283497.0,36.5,75235.0,36955.0,5149742.0,13.109174,1199233.0,3.052765

# Group 1 - Tarak

## Line Plot idea:

* x-axis = vaccine allocation date (weekly data, convert dates to week number)
    * x-axis labels to be converted to month notches

* y-axis = National level: Pfizer 1st dose allocations, Moderna 1st dose allocations, Pfizer 2nd dose allocations, Moderna 2nd dose allocations, J&J allocations
    * y-axis data is summation of all states

Legend labels = Pfizer 1st dose, Moderna 1st dose, Pfizer 2nd dose, Moderna 2nd dose, J&J Single dose

## Line Plot idea:

* x-axis = vaccine allocation date (weekly data, convert dates to week number)
    * x-axis labels to be converted to month notches

* y-axis = AZ State level: Pfizer 1st dose allocations, Moderna 1st dose allocations, Pfizer 2nd dose allocations, Moderna 2nd dose allocations, J&J allocations
    * y-axis data is one state only (Arizona)

Legend labels = Pfizer 1st dose, Moderna 1st dose, Pfizer 2nd dose, Moderna 2nd dose, J&J Single dose

## Bonus Line Plot idea:

* x-axis = vaccine allocation date (weekly data, convert dates to week number)
    * x-axis labels to be converted to month notches

* y-axis = User selected State level: Pfizer 1st dose allocations, Moderna 1st dose allocations, Pfizer 2nd dose allocations, Moderna 2nd dose allocations, J&J allocations
    * y-axis data is one state only (user selected)

Legend labels = Pfizer 1st dose, Moderna 1st dose, Pfizer 2nd dose, Moderna 2nd dose, J&J Single dose

## Line Plot idea:

* x-axis = vaccine allocation date (weekly data, convert dates to week number)
    * x-axis labels to be converted to month notches

* y-axis = National level: cumulative sum 1st dose allocations (Pfizer + Moderna), cumulative sum of 2nd dose allocations (Pfizer + Moderna), J&J

# Group 2

# Stacked Bar Plot idea:

* x-axis = State

* y-axis = Pfizer: Cumulative 1st dose allocation, Cumulative 2nd dose allocation, Moderna: Cumulative 1st dose allocation, Cumulative 2nd dose allocation, J&J allocation

## Stacked Bar Plot idea:

Take one of the previous stacked bar plot formats and divide the y-axis bar values by the state's population.

* x-axis = State
* y-axis =  allocation /  State Population

## 3-Figure Stacked Bar Plot idea:

* Common x-axis = State

* Plot 1 y-axis = Pfizer: Cumulative 1st dose allocation, Cumulative 2nd dose allocation

* Plot 2 y-axis = Moderna: Cumulative 1st dose allocation, Cumulative 2nd dose allocation

* Plot 3 y-axis = J&J: Cumulative 1st dose allocation, Cumulative 2nd dose allocation

https://matplotlib.org/2.0.2/examples/ticks_and_spines/spines_demo.html

# Group 3 - Nicole

## Line Plot idea:

* x-axis = Date
    * Line 1 Vaccine allocation date
    * Line 2 New Deaths report date
* y-axis = Quantity
    * Line 1 - Left side axis label - Cumulative 2nd dose allocation (include J&J)
    * Line 2 - Right side axis label - New deaths

https://www.cnbc.com/2021/04/09/covid-19-cases-deaths-vaccinations-daily-update.html

Note: Country summary

## Line Plot idea:

* x-axis = Date
    * Line 1 Vaccine allocation date
    * Line 2 New Deaths report date
* y-axis = Quantity
    * Line 1 - Left side axis label - Cumulative 2nd dose allocation (include J&J)
    * Line 2 - Right side axis label - New deaths

https://www.cnbc.com/2021/04/09/covid-19-cases-deaths-vaccinations-daily-update.html

Note: State summary

## Scatter Plot idea:

A single snapshot in time on the final date where all states have reported (4/17/21).

Each scatter point is by state. Need to pair the x, y values for each state.

* x-axis = Poverty Rate (Population_df.Poverty Rate)

* y-axis = Covid cumulative case count (c_d_with_state_df.tot_cases)

Include regression analysis

# Merging jupyter notebooks

mbmerge